body {
    background-color: burlywood;
}

#horsebio {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-right: ;
    margin-bottom: 20px;
    margin-left: 10px;
    background-color: blanchedalmond;
    border-color: cornsilk;
    border-style: outset;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display:inline-block;
}